
.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    background-color: cadetblue;
    padding-left: 1%;
    padding-right: 1%;
}

.contact{
    border-bottom-style: solid;
    border-color: cadetblue;

}

.container-fluid{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 450px;    
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}