
.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    background-color: cadetblue;
    padding-left: 1%;
    padding-right: 1%;
}

/* About Me Styling */

p{
    padding: 5%;
    padding-bottom: 1%;
    font-size: large;
    text-align: center; 
}

.aboutMeTitle{
    border-bottom-style: solid;
    border-color: cadetblue;

}

.aboutMePhoto{
    float: left;
    padding: 10%;
    width: inherit;
    align-content: center;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/Geo\ Mosaic\ Wallpaper.jpg");
    background-attachment: scroll;
}