
.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    background-color: cadetblue;
    padding-left: 1%;
    padding-right: 1%;
}

.portfolioTitle{
    border-bottom-style: solid;
    border-color: cadetblue;
}

p{
    text-align: center;
    color:rgb(0, 0, 0);
}
.container{
    align-content: center;
}
.col-sm-5{
    background-color: rgb(241, 239, 239);
    border-style: outset;
    border-width: 5px;
    margin: 1%;
    float: left;
    
}

h2{
    text-align: center;
    color: black;
}

img{
    display: block;
    height: 250px;
    width: 350px;
    margin: auto;
    border-style: groove;
    border-color: black;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
