.contact{
    border-bottom-style: solid;
    border-color: rgb(74, 186, 255);

}

.container-fluid{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 450px;
}
 
.btn{
    background-color: rgb(6, 0, 83);
}


form{
    background-color: rgb(198, 233, 255);
    opacity: 0.9;
}

.card{
    float: right;
    background-color: rgb(198, 233, 255);
    opacity: 0.9;
    font-weight: bolder;
    text-align: center;
}

#OR{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    float: left;
}