
.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    background-color: cadetblue;
    padding-left: 15px;
    padding-right: 15px;
}

.contact{
    border-bottom-style: solid;
    border-color: cadetblue;

}

.container-fluid{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 450px;    
}
